<% include ./partials/header %>
<div class="mt-3 searchBar">
    <form class="form-group" action="/imdb" method="GET" style="width: 800px;margin:0 auto;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Enter Movie or series title"
                style="height: 50px;">
            <div class="input-group-append">
                <button class="input-group-text text-center px-5" id="basic-addon2"><i
                        class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
</div>

<div class="row mt-4">
    <% for(var i=0;i<4;i++){ %>
    <div class="oflow col-lg-3 px-3">
        <a href="imdb/create/<%= movies.results[i].original_title %>"><img class="zoomin img-fluid rounded thumbnail"
                src="https://image.tmdb.org/t/p/w500<%= movies.results[i].poster_path %>" alt=""></a>


    </div>
    <% } %>
</div>
</div>
<div class="middle-section">
    <div class="container">
        <h2 class="middle-header">Spotlight This Month</h2>
        <hr class="ruler">
        <p>
            <span><a class="links" href="">Latest</a><a class="links" href="">Coming Soon</a><a class="links"
                    href="">Top
                    Rated</a><a class="links" href="">Recently
                    Released</a></span>
        </p>
        <div class="row mt-5">
            <% for(var i=0;i<4;i++){ %>
            <div class="col-lg-3 px-3">
                <a href="imdb/create/<%= imdb.results[i].original_title %>"><img class="img-fluid rounded thumbnail"
                        src="https://image.tmdb.org/t/p/w500<%= movies.results[i].poster_path %>" alt=""></a>
                <p class="pt-4"><i class="fas fa-star"></i>&nbsp&nbsp7/10</p>
                <h5 class="movie-title"><%= movies.results[i].title %></h5>
            </div>
            <% } %>
        </div>
    </div>
</div>
<div class="lower-section">
    <div class="container">
        <!-- News api here -->
    </div>
</div>
<% include ./partials/footer %>